@media screen and (max-width: 700px) {
  footer {
    font-size: var(--small-font);
    font-family: var(--font-body);
    padding: 1em;
    text-align: center;
    font-weight: bold;
    font-size: 20px;
    background-color: var(--secondary-color);
    color: var(--light-grey);
    width: 100% !important;
  }

  main #banner {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 0.5em 1.5em 1.5em 1.5em;
  }

  #banner img {
    grid-row: 1 / 3;
    grid-column: 1/3;
    width: 100%;
    height: 250px;
  }

  #houses {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 1.5em;
    padding: 0.5em;
    padding-top: 0;
    justify-items: center;
    align-items: center;
    justify-content: center;
    align-content: center;
  }

  #houses h2 {
    font-size: 1.5em;
    font-family: var(--font-headline);
    color: var(--primary-color);
    text-align: center;
    margin: 0;
    padding: 1em;
    padding-bottom: 25px;
    text-shadow: var(--dark-grey) 2px 2px;
    grid-row: 1;
    grid-column: 1/2;
  }

  .house {
    border: 0.65rem solid var(--primary-color);
    border-style: double;
    background-color: var(--tertiary-color);
    color: var(--light-grey);
    text-align: center;
    width: 80%;
  }

  .house h3 {
    font-size: 1em;
    font-family: var(--font-headline);
    color: var(--light-grey);
    text-align: center;
    margin: 0;
  }

  .house p {
    font-size: 0.8em;
    font-family: var(--font-body);
    font-weight: bold;
  }

  .house img {
    width: 100%;
    height: 200px;
  }

  #gryffindor {
    grid-row: 2/3;
    grid-column: 1/2;
  }

  #ravenclaw {
    grid-row: 3/4;
    grid-column: 1/2;
  }

  #slytherin {
    grid-row: 4/5;
    grid-column: 1/2;
  }

  #hufflepuff {
    grid-row: 5/6;
    grid-column: 1/2;
  }

  #spells {
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    padding: 1em;
    justify-items: center;
    align-items: center;
    justify-content: center;
    align-content: center;
    cursor: pointer;
  }

  #spells-msg h2 {
    font-size: 1.5em;
    font-family: var(--font-headline);
    color: var(--primary-color);
    text-align: center;
    margin: 0;
    text-shadow: var(--dark-grey) 2px 2px;
    grid-row: 1;
    grid-column: 1;
  }

  #spells-box {
    grid-column: 1/4;
    grid-row: 1/2;
    z-index: -1;
  }

  #spells-box img {
    width: 100%;
    height: 170px;
  }

  #spells-msg {
    grid-column: 2/3;
    grid-row: 1/2;
    margin-top: 100px;
    z-index: -1;
  }

  /**************************** SPELLS PAGE **************************/
  #spells-th {
    background-color: var(--primary-color);
    color: var(--tertiary-color);
    font-size: 1em;
    font-family: var(--font-headline);
    text-align: center;
  }

  #spells-body {
    font-size: 0.8em;
    font-family: var(--font-body);
    text-align: left;
    font-weight: bold;
    color: var(--tertiary-color);
    background-color: var(--light-grey);
  }

  #spells-body td {
    padding: 0.3em 0.3em 0.3em 0.5em;
  }

  /******** END OF SPELLS PAGE ********/

  footer {
    font-size: 15px;
  }

  .logo {
    line-height: 30px;
    width: 135px;
  }
  
  .logo img {
    width: 60px;
    height: 60px;
  }

  /* Houses Page */

  #main-houses {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 1em;
    padding: 1em;
  }
  
  #house-name {
    font-size: 2em;
    font-family: var(--font-headline);
    color: var(--dark-grey);
    text-align: center;
    margin: 0;
    padding-bottom: 15px;
    text-shadow: var(--primary-color) 4px 4px;
  }
  
  .character-row {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 1em;
    padding: 0.5em;
    justify-items: center;
    align-items: center;
    justify-content: center;
    align-content: center;
  }
  
  .character-card {
    border: 0.75rem solid var(--primary-color);
    border-style: double;
    background-color: var(--tertiary-color);
    color: var(--light-grey);
    text-align: center;
    width: 70%;
    height: 250px;
    grid-column: 1/2;
    font-size: 0.8em;
  }
  
  .character-card img {
    width: 55%;
    height: 160px;
  }
}
